body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
section {
  height: 98.99vh;
  background-color: #1c1d1c;
  color: whitesmoke;
  border-bottom: solid orangered 1vh;
  border-bottom-right-radius: 100vh;
}
h1 {
  font-size: 90px;
  margin: 0px;
  font-weight: 400;
  border-bottom: solid olivedrab 0.4vh;
  border-bottom-left-radius: 30px;
}

p {
  font-size: 40px;
  font-weight: 200;
}
.aboutMe {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.aboutMeText {
  margin-left: 3vw;
  margin-right: 5vw;
  padding-right: 5vw;
  margin-bottom: 10vh;
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 43vw;
  margin-top: 100px;
}
svg:hover {
  fill: cyan;
}
